body{
  /* background-image: url('./images/ss.png'); */
  background-color: #101014;
  background-size: cover;  
  /* background-color: #1c1c1c; */
  width: 100%;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; 
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  
}

/* Head css */
.headbar{
  z-index: 7;
  width: 100%;
  /* margin-top: 1.5%; */
  height: 70px;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  background-color: transparent;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 15px; */
}
.headbar h1{
  margin: 0;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  margin-left: 4%;
}
.choose{
  height: 70%;
  border-radius: 50px;
  position: relative;
  left: 70px;
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:black; */
  gap: 70px;
}
.ftpd{
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: none;
  color: #999999;
}
.head-2{
  width: 26%;
  height: 80px;
  display: flex;
  /* background-color: #102718; */
  justify-content: center;
  margin-left: 15%;
  align-items: center;
}
.search{
  width:100%;
  font-size: medium;
  outline: 0;
  background-color: white;
  height: 40px;
  /* background-color: ; */
  display: flex;
  height: 40px;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}
.srch-1{
  width: 65%;
  transition: width 2s;
}
.srch-2{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  /* opacity: 0.9; */
  cursor: pointer;
  width: 18%;
  display: flex;
  justify-content: center;
  background-color:white;
  border-left:0 ;
  align-items: center;
}
.icons{
  width: 35%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: flex-end;
}
.btsignup{
  margin-left: 10px; 
  padding: 12px 15px;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  position: absolute;
  position: relative;
  background-color: transparent;
  color: white;
  font-weight: 1000;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  cursor: pointer;
  overflow: hidden;
  border: 0;
}
.btsignup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: black;
  z-index: -1;
  transition: all 250ms;
  border: 0;
 }
 .btsignup:hover {
  color: #00E6AD;
 }
 
 .btsignup:hover::before {
  width: 100%;
 }

.adminlinks {
  width: 30%;
  height: 150px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: fixed;
  top: 60px;
  z-index: 289;
  border-radius: 17px;
  left:69.5%;
  background: white;
  /* background-color: rgb(236, 233, 233); */
  border: 2px solid black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 10;
  /* Ensure it's above other content */
}

.linkadmin {
  border: 2px solid black;
  display: flex;
  text-decoration: none;
  margin: 14px;
  margin-left: 9%;
  margin-top: 19px;
  color: white;
  width: 30%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #0F172A;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 80%;
  border-radius: 10px;
}

.adminlinks h1 {
  margin: 0;
  width: 100%;
  position: relative;
  top: 2px;
  text-align: center;
  /* left: ; */
  /* color: #049103; */
  /* background-color: #003d27; */
  color: #1D1D1D;
}
.iconnav {
  font-size: xx-large;
  /* background-color: #049103; */
  position: relative;
  cursor: pointer;
  left: 92%;
  top: 4%;
}

.accessProfile{
  background-color: #212121;
  width: 11%;
  z-index: 10;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 86%;
  gap: 16%;
  border-radius: 10px;
  height: 150px;
  position: absolute;
}
.LinkProfile{
  color: white;
  text-decoration: none;
  font-weight: 600;
}


/* SignUp */
.backline{
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  min-height: 90vh;
}
.backline-2 {
  width: 50%;
  height: 549px;
  background-image: url('./images/cm.jpeg');
  background-size: cover;
  background-position: center;
  position: relative; /* Needed for pseudo-elements to position absolutely inside */
  z-index: 0;
}

.backline-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.758); /* Black overlay */
  z-index: 1; /* Layered above the image */
}

.signup{
  width: 50%;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  height:549px;
  background-color:white;
}
.signup h2{
  width: 100%;
  height: 10%;
  margin: 0;
  margin-top: 6%;
  text-align: center;
}
.inputsignup{
  width: 60%;
  margin-left: 19%;
  margin-top: 1%;
  padding: 10px;
  border: 0;
  transition: all 0.3s;
  border-bottom: 3px solid black;
}
.inputsignin{
  width: 60%;
  margin-left: 19%;
  margin-top: 5%;
  padding: 10px;
  border: 0;
  transition: all 0.3s;
  border-bottom: 3px solid black;
}
.inputsignup::placeholder {
  color: rgba(1, 1, 1, 0.653);
}
.inputsignin::placeholder {
  color: rgba(1, 1, 1, 0.653);
}
.error{
  /* background-color: wheat; */
  color: red;
  font-weight: 200;
  font-size: 12px;
  width: 60%;
  height: 20px;
  margin: 0;
  margin-left: 19%;
}
.btsign{
  width: 40%;
  padding: 13px;
  cursor: pointer;
  margin-top: 7%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 0;
  margin-left: 30%;
}
.btsignin{
  width: 40%;
  padding: 13px;
  cursor: pointer;
  margin-top: 12%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 0;
  margin-left: 30%;
}
.inputsignin:hover{
  border: 3px solid black;
}
.inputsignup:hover{
  border: 3px solid black;
}
.signup h5{
  margin-left: 35%;
}
.beheand{
  width: 100%;
  height: 100px;
  background-color: #102718;
}
[data-sonner-toaster] {
  margin-top: 20% !important;
}



/* Home */
.Home{
  width: 100%;
  min-height: 100vh;
}
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.details{
  width: 75%;
  height: 700px;
  margin-left: 12.5%;
}
.dt{
  height: 50%;
  width: 100%;
  display: flex;
}
.dt-1{
  width: 50%;
  height: 100%;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  /* background-color: #041EE2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:30px;

}
.dt-3{

  width: 50%;
  height: 100%;
  border-right: 3px solid white;
  /* background-color: #041EE2; */
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;
}
.details h3{
  color: #00E6AD;
  margin-top: 80px;
}

.dt-2{
  width: 50%;
  height: 100%;
  /* background-color: #041EE2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid white;
  padding-bottom: 30px;


}
.dt-4{
  width: 50%;
  height: 100%;
  /* background-color: #041EE2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

}
.details p{
  width: 80%;
  font-size: 17px;
  margin-top: 50px;
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  color:white;

}

.divcontact{
  width: 100%;
  min-height: 135vh;
  /* margin-left: 10%; */
  z-index: -1;
  position:absolute;
  top: -10%;
  /* margin-bottom: 2%; */
  /* border-radius: 20px; */
  background-image: url('./images/pic6.jpg');
  background-size: cover;
}
.divcontact::before {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.756); 
  z-index:0;
}

.divcontact-1{
  width: 50%;
  position: relative;
  top: 120px;
  margin-left: 6%;
  height: 200px;
  z-index: 7;
}
.divcontact-1 h3{
  color: white;
  font-size: 21px;
  width: 90%;
  position: relative;
  left: 20px; 
}
.divcontact-2{
  width: 35%;
  position: relative;
  top: 170px;
  left: 90px;
  display: flex;
  flex-direction: column;
  height: 400px;
}
.divcontact-2 input,textarea{
  width: 70%;
  margin-bottom: 7%;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid white;
  padding: 10px;
  outline: none; /* optional, removes focus glow */
  overflow: 0;
}
.divcontact-2 input::placeholder {
  color: white;
}
.divcontact-2 textarea:hover{
  /* border: 3px solid #00E6AD; */
  overflow: hidden;
}
.divcontact-2 input:hover{
  /* border: 3px solid #00E6AD; */
}
.sendcontact{
  width: 35%;
  padding: 10px;
  color: #00E6AD;
  background-color: transparent;
  border: 0;
  border-radius:6px;
  border: 2px solid #00E6AD;
  font-size: 20px;
  position: relative;
  top: 5%;
  margin-left: 45%;
  cursor: pointer;
}

.sendcontact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #00E6AD;
  z-index: -1;
  transition: all 250ms;
  border: 0;
 }
 .sendcontact:hover{
  color: black;
 }
 
 .sendcontact:hover::before {
  width: 100%;
 }


.footerHome{
  width: 100%;
  /* margin-left: 5%; */
  border-top: 2px solid white;
  height: 100px;
  padding-top: 3%;
  margin-top: 15%;
  position: relative;
  top: 40%;
  background-image: url();
  display: flex;
  justify-content: space-between;
}
.footer{
  width: 90%;
  margin-left: 5%;
  border-top: 2px solid white;
  height: 100px;
  padding-top: 3%;
  /* margin-top: 10%; */
  position: relative;
  background-image: url();
  display: flex;
  justify-content: space-between;
}
.footerLink{
  width: 30%;
  height: 60%;
  font-size: 20px;
}
.linkfooter{
  color: white;
  transition: all 0.1s ;
  text-decoration: none;
}
.linkfooter:hover{
  color: #00E6AD;
}

.footericons1{
  width: 30%;
  height: 100%;
  /* background-color: #00E6AD; */
  position: relative;
  display: flex;
}
.footericons1 img{
  width: 50%;
  height: 50%;
}
.footericons2{
  width: 10%;
  height: 30%;
  gap: 20px;
  position: relative;
  /* top: 13%; */
  display: flex;
  }
.iconFooter{
  color: #ADADAD;
  cursor: pointer;
}
.iconFooter:hover{
  color: #00E6AD;
}


.contactCom{
  width: 100%;
  height: 100px;
  position: relative;
  top: 160px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00E6AD; */
}
.contactCom h2{
  cursor: pointer;
  color: #00E6AD;
}
.aboutus{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-top: 10%;
  /* margin-top: 20%; */
  background-color: #000000;
}
.head-last{
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: 5%;
  /* background-color: #000946; */
  /* background-color: antiquewhite; */
}
.head-last h1{
  font-size: 37px;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
}
/* Change */

.change {
  width: 100%;
  height: 960px;
  position: absolute;
  z-index: -1;
  top: -24px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position-y: center;
  background-position-x: center;
  transition: background-image 0.5s ease-in-out;
}

.change::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0px;
  background-color: rgba(0, 0, 0, 0.756); /* Black overlay with 50% opacity */
}

.text{
  width: 90%;
  height: 70%;
  margin-top: 2%;
  margin-left: 10%;
  z-index: 7px;
}
.text h1{
  margin: 0;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 1%;
  font-size: 130px;
}
.text h3{
  font-size: 18px;
  width: 95%;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;  color: white;
}
footer{
  height: 90px;
  position: relative;
  top: 130px;
  /* bottom: 0; */
  width: 100%;
  /* margin-left: 5%; */
  border-top: 2px solid white;
  color: aliceblue;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(0, 0, 0, 0.7));
  /* background-image: url(../src/images/ss.png); */
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  z-index: 2;
}
.icon{
  margin: 10px;
  width: 20px;
  color: white;
  height: 20px;
  transition: all 0.5s;
}
.icon:hover{
  color: #00E6AD;
}
footer h1{
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: lighter;
  margin: 0;
  transition: all 0.5s;

  margin-left: 50px;
}
footer h1:hover{
  color: #00E6AD;

}
.section-2{
  width: 100%;
  margin: 0;
  height: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dvsection-1{
  width: 25%;
  /* background-color: #3943B7; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.dvsection-2{
  /* background-color: aliceblue; */
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.dvsection-1 img{
  width: 100%;
  box-shadow: 0px 5px 60px black;
  height: 200px;
  border-radius: 20px;
}
.dvsection-2 h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #00E6AD;
  margin-bottom: 2px;
  margin-top: 9px;
  margin-left: 30px;
}


.head-last p{
  color: white;
  width: 70%;
  font-family: sans-serif;
  text-align: center;
  font-size: 27px;
  
}

.last-2{
  width: 100%;
  height: 410px;
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-card-1{
  width: 35%;
  height: 400px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.last-card-3{
  width: 35%;
  height: 400px;
  border-right: 1px solid black;
  /* border-bottom: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.last-card-4{
  width: 35%;
  height: 400px;
  border-left: 1px solid black;
  /* border-bottom: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.last-card-2{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 35%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

/* Terrains */

.btsignup{
  border: 0;
  
  padding: 10px 30px;

}


/* HeadOwner */
.HeadOwner{
  z-index: 7px;
  width: 100%;
  /* margin-top: 1.5%; */
  height: 70px;
  position: absolute;
  top:0px;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  background-color:black;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.HeadOwner h1{
  width: 45%;
  font-size: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.access{
  width: 70%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  left: 30px;
  justify-content: space-around;
  background-color:transparent;
  border: 1px solid grey;
}
.OwnerLink{
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}


/* HeadAdmin */
.HeadAdmin{
  z-index: 7px;
  width: 100%;
  /* margin-top: 1.5%; */
  height: 70px;
  position: absolute;
  top:0px;
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  background-color:black;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.HeadAdmin h1{
  width: 35%;
  font-size: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.access{
  width: 70%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  left: 30px;
  justify-content: space-around;
  background-color:transparent;
  border: 1px solid grey;
}
.OwnerLink{
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}

/* Table */
table {
  color: #101014;
  width: 97%;
  margin: 20px;
  border-radius: 20px;
  background-color: #C1C1C1;
  border-collapse: separate; /* Fixes border-radius issue */
  padding: 10px;
  
  position: relative;
  top: 30px;
  border-spacing: 0; /* Ensures no gaps */
  overflow: hidden; /* Prevents overflow issues */
  overflow-y: scroll;
}

th {
  padding: 7px;
  color: white;
  background-color: #101014;
  /* background: linear-gradient(rgb(198, 198, 198), rgb(191, 190, 190)); */
  text-align: center;
}


td {
  background-color: transparent;
  border: 0;
  padding: 11px;
  text-align: center;
}

/* Optional: Add border-radius to first & last cells */
td:first-child, th:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

td:last-child, th:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
tr{
  transition: all 0.5s;
  margin: 5px;
  cursor: pointer;
  background:linear-gradient(rgb(194, 194, 194),rgb(169, 169, 169)) ;

}
tr:hover{
  background:linear-gradient(rgb(194, 194, 194),rgb(169, 169, 169)) ;
  /* color: #e3e3e3; */
}

/* UserMangement */


.APUSers{
  width: 100%;
  min-height: 100vh;
  /* background-color: #101014; */
  /* position: ; */
  top: 10;
  padding-bottom: 2%;
}
.headUsrs{
  width: 60%;
  height: 50px;
  padding: 10px;
  position: relative;
  top: 20px;
  border-bottom: 2px solid wheat;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #E0E0E0;
}
.head-3{
  width: 46%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roleselecte{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.update{
  border: 0;
  border-bottom: 2px solid black ;
  background-color: red;
  width: 10px;
  position: relative;
  right: 34%;
  cursor: pointer;
  margin-right: 5px;

}

/* terrains */

.terrainsFoot {
  background-image: url('../src/images/bac.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 8%;
  padding-bottom: 10%;
  position: relative;
  z-index: 0;
}

.logoft{
  background-color:white;
  width: 4%;
  border-radius: 50%;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
}
.logoft img{
  width: 100%;
  height: 100%;
}
.terrainsPadel{
  background-image: url('../src/images/backP.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 8%;
  padding-bottom: 10%;
  position: relative;
  z-index: 0;
}

.terrainsPoadel::before {
  content: "";
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity (0.7 = 70% black) */
  z-index: 5; /* Keeps overlay behind content */
}

.terrainsFoot, .terrainsPadel {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) transparent;
}

/* For Chrome, Edge & Safari */

.terrainsFoot::-webkit-scrollbar, 
.terrainsPadel::-webkit-scrollbar {
  width: 8px;

}

.terrainsFoot::-webkit-scrollbar-thumb, 
.terrainsPadel::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}
.Fields{
  width: 90%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 25% 25% 25%  ;
   gap: 7rem;
  margin: 0 auto 12%;
  @media (max-width: 700px){
   gap: 3rem;

  }
  
}
.Field {
  height: 375px;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;  
  background: #eee;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  /* justify-content: space-between; */
}

.Field img {
  width: 100%;
  height: 60%;
  margin: 0;
  /* margin-left: 5%; */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.donner {
  display: flex;
  /* background-color: #00E6AD; */
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.donner h3 {
  font-size: 16px;
  color: 292929;
  margin: 0;
  font-weight: 100;
}
.donner h4 {
  margin: 6px;
  font-size: 15px;
  font-weight: 600;
  color: #292929;
  margin-left: 5px;
}

.Field button {
  width: 70%;
  margin-left: 15%;
  padding: 12px;
  background: #28a745;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */
  border-radius: 10px;
}


.terrainsPadel button {
  width: 70%;
  margin-left: 15%;
  padding: 12px;
  background: #041EE2;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.terrainsPadel button:hover {
  background: #000946;
}


/* addTerrains */
.addTerrains{
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  display: flex;
  /* scroll-behavior: smooth;
  scrollbar-color: black transparent; */

  flex-direction: column ;
  align-items: center;
  background-color: white;
}
.addTerrains h1{
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 1%;
}
.addTerrains h4{
  color: rgba(48, 48, 48, 0.53);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  margin-bottom: 2%;
  font-style: normal;
}
.contenaire{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100%;
  margin-bottom: 5%;
}
.imagesadd{
  width: 40%;
  height: 600px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  box-shadow:  1px 2px 10px black;

}
.donnerAdd{
  width: 40%;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid rgb(196, 196, 196);
  box-shadow:  1px 2px 10px black;
}
.form1{
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.form1 h4{
  margin: 10px;
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  color: black  ;
  font-style: normal;
}
.form1 input{
  border-radius: 8px;
  padding: 10px 22px;
  outline: 0;
  color: #888 ;
  background-color: #F2F2F2;
  border: 0;
}
.form1 input::placeholder {
  color: gray;
  opacity: 0.4;
}
.form1 select{
  height: 35px;
  margin-top: 20px;
  background-color: black;
  width: 40%;
  color: white;
  border: 1px solid #888;
  border-radius: 15px;
  cursor: pointer;
}
select option {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 8px; /* This does not always work */
}
.add {
  width: 30%;
  margin-left: 35%;
  padding: 10px;
  margin-top: 5%;
  border-radius: 9px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 7;
  transition: all 250ms;
}

.add:hover{
  color: white; /* Text becomes white on hover */
}

.add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  color: white; /* Text becomes white on hover */
  background-color: black; /* Slide-in red background */
  z-index: -1;
  transition: all 250ms;
}

.add:hover::before {
  width: 100%;
}

.gid{
  width: 80%;
  border-radius: 20px;
  box-shadow:  1px 2px 10px black;
  margin-bottom:5% ;
  height: 200px;
  display: flex;
}
.gid1{
  width: 50%;
  height: 100%;
  background-image: url(./images/bac.png);
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position-y: center;
}
.gid2{
  width: 50%;
  background-image: url(./images/backP.png);
  background-size: cover;
  background-position-y: center;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Reservation */



/* ProfilePage */
.PofileComp{
  width: 100%;
  min-height: 89vh;
  display: flex;
  /* background-color: white; */
  background-image: url('./images/pic7.jpg');
  background-size: cover;
}
.PofileComp::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 89vh;
  z-index: 0;
  /* background-color: rgba(0, 0, 0, 0.756); Black overlay with 50% opacity */
}
.GideProfile{
  width: 20%;
  margin-top: 1%;
  border-radius: 15px;
  background-color: #000000;
  padding: 0;
  z-index: 7;
  margin-left: 2%;
  padding-left: 1%;
  height: 400px;
  display: flex;
  padding-bottom: 3%;
}
.GideProfile h3{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  width: 240px;
  text-align: center;
  margin-top: 30px;
}
.GideProfile h4{
  color: rgb(150, 150, 150);
  margin:0;
  font-weight: 500;
  margin-top: 30px;
}
.dsp h5{
  color: white;
  margin:0;
  margin-left: 3%;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
}

.donnerProfile{
  width: 80%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  z-index: 7;
  background-color: transparent;
  /* background-image: url(./images/ss.png); */
}
.dp-1{
  width: 80%;
  height: 130px;
  background-color: #000000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 2%;
  color: rgb(255, 255, 255);
  gap: 19px;
}
.dp-2{
  width: 80%;
  height: 150px;
  background-color:transparent;
  border-radius: 20px;
  margin: 2%;
  color: white;
  gap: 19px;
}

.iconProfile{
  position: absolute;
  top: 15%;
  left: 21%;
  bottom:34%;
  cursor: pointer;
  color: white;
}
.donnerProfile img{
  width: 15%;
  margin-left: 4%;
  height: 70%;
  border-radius: 50%;
  border: 2px solid white;
}
.dp-1-donner{
  width: 60%;
  height: 100%;
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dp-1-donner h2,h3{
  margin: 1%;
}
.dp-1-donner h3{
  color: grey;
  font-weight: 300;
}
.dp-2-donner{
  width: 60%;
  height: 100%;
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.GideProfile input{
  width: 70%;
  padding: 8px;
  margin: 3%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  
}
.btProfile{
  padding: 8px 30px;
  margin-left: 4%;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.dp-2 img{
  width: 15%;
  margin-left: 4%;
  height: 40%;
  border-radius: 50%;
}
/* AllFields */
.AllFields{
  width: 100%;
  min-height: 100vh; /* Ensures full viewport height */
  /* background-color: white; */
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  
  flex-direction: column; /* Helps with sticky footer if needed */
}
.typeFields{
  width: 50%;
  height: 100px;
  /* background-color: #041EE2; */
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 60px;
  margin-top: 40px;
  margin-left: 25%;
}
.towbt{
  width: 10%;
  height: 100%;
  /* background-color: #00E6AD; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10x;
  justify-content: center;
}
.typeFields button{
  background-color: #000000;
  color: white;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}
.spanBt{
  background-color: #000000;
   color: white;
   padding: 10px;
   margin-bottom: 1%;
   display: none;
   position: relative;
   bottom: 50px;
   /* transition: all 0.5s; */
   border-radius: 20px;
   opacity: 0;
   transform: translateY(-10px);
   transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.towbt:hover .spanBt {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.typeFields button:hover{
  background-color: #101014;
  color: white;
  /* border: 3px solid black; */

}

.DUFields{
  width: 100%;
  height: 100%;
  border-top: 2px solid  rgb(226, 226, 226);
  margin-top: 4%;
  display: flex;
}
.ActionFields{
  margin-top: 2%;
  /* background-col/or: #00E6AD; */
  width: 35%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* height: 50%; */
}

.inpupdate{
  padding: 7px;
  width: 60%;
  border-radius: 5px;
  border: 0;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.95); /* Black overlay with 50% opacity */
  
}
.roleselecte{
  border: 2px solid black;
}



/* Reservation */

.Reservation{
  width: 100%;
  padding-top: 3%;
  min-height: 80vh;
  background-color: white;
}
.Reservation h1{
  color: black;
  margin-bottom: 3%;
  text-align: center;
}
.Reservation-1{
  width: 70%;
  display: flex;
  padding-bottom: 10%;
  height: 400px;
  margin-left: 10%;
}
.Reservation-2{
  width: 50%;
  border-radius: 10px;
  display: flex;
  height: 70%;
  background-image: url(./images/bayerne.jpg);
  background-size: cover;
  background-position: center;
}
.Reservation-3{
  width: 50%;
  height: 100%;
}
.Reservation-3 h2{
  color: black;
  position: relative;
  left: 12%;
  font-weight: 500;
}
.TimeReservation{
  width: 100%;
  height: 130px;
  margin-bottom: 4%;
  display: flex;
  /* background-color: #00E6AD; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Reservation h3{
  text-align: center;
  margin-bottom: 2%;
}
.day{
  background-color: white;
  width: 130px;
  text-align: center;
  height: 90px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
}
.Timebt {
  position: relative; 
  overflow: hidden;   
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 15px;
  background-color: transparent;
  z-index: 1; 
}

.Timebt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: black;
  z-index: -1;
  transition: all 250ms;
  border: 0;
}

.Timebt:hover {
  color: white;
}

.Timebt:hover::before {
  width: 100%;
}

.requestbt{
  padding:10px  30px;
  border: 0;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

/* ReservationManagement */

.TimeReservationMR{
  width: 100%;
  height: 130px;
  margin-top: 4%;
  /* margin-bottom: 4%; */
  display: flex;
  /* background-color: #00E6AD; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}